
header {
    text-align: center;
}
header>img {
    height: 128px;
    width: auto;
}
nav {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 15px;
    background-color: #e7e7e7;
    word-spacing: 10px;
    font-size: 18px;
}
a:link {
    color: #808080;
}
a:visited {
    color: #8a7d7d;
}
a:hover {
    color: #ff0000;
}

.feature {
    text-align: center;
    background-color: #e7e7e7;
    color: #8a7d7d;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 15px;
}

footer {
    position: relative;
    text-align: center;
    background-color: #e7e7e7;
    color: #8a7d7d;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 15px;
}

.columns {
    width: 1875px;
    height: 61px;
    margin-left: 15px;
}
#one { 
    float:left; 
    width:30%; 
    height:20px; 
    background-color: #e7e7e7; 
    color: #8a7d7d; 
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    
} 
#two { 
    float:left; 
    width:30%; 
    height:20px; 
    background-color: #e7e7e7;  
    margin-left: 80px;
    text-align: center;
    color: #8a7d7d;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
} 
#three { 
    color: #8a7d7d;
    float:right; 
    width:30%; 
    height:20px; 
    background-color: #e7e7e7;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}